.car_label{
    font-size: 48px;
    font-weight: bold;
}
.price-label{
    font-size: 48px;
    color: #dc3545;
    font-weight: bold;
    padding-left: 2rem;
}

.btn-buy {
    margin: 0 auto;
    cursor: pointer;
    width: 100%;
    padding: 10px 20px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 36px;
    border: 2px solid rgba(0, 0, 0, 0.8);
    outline: none;
    max-width: 300px;
}

.btn-buy{
    text-decoration: none;
}

.btn-more{
    border: 2px solid rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

.carousel-item.auto img{
    width: 900px;
    height: 700px;
    object-fit: cover;
    border: 6px solid black;
    border-radius: 10px;
}

.carousel-control-next.no_bg{
    background-color: transparent;
    width: 50%;
    opacity: 0;
    height: 100%;
}
.carousel-control-next.no_bg:hover{
    background-color: transparent;
    width: 50%;
    height: 100%;
    opacity: 1;
}

.carousel-control-prev.no_bg:hover{
    background-color: transparent;
    width: 50%;
    height: 100%;
    opacity: 1;
}

.carousel-control-prev.no_bg{
    background-color: transparent;
    width: 50%;
    height: 100%;
    opacity: 0;
}

.min_params{
    background-color: #95999c;
    border: 2px solid black;
    border-radius: 10px;
}

.close:hover {background: #e6e6ff;}

.modal-custom{
    min-width: 700px;
}

.line{
    border-left:  10px solid darkcyan;
}

.height-700{
    height: 700px !important;
}

.mt-10{
    margin-top: 10%;
}

.mb-10{
    margin-bottom: 10%;
}

/*html,body {
    height: 100%;
    min-height: 100%;
    flex: 1 0 auto;
}*/

.menu-li{
    font-size: 24px;
    font-weight: bold;
}

.menu-li:hover{
    font-size: 28px;
    background-color: #0c5460;
}

.active-custom{
    background-color: #bd2130 !important;
    text-decoration: none;
    color: white;
}
.active-custom:hover{
    background-color: #bd2130 !important;
    text-decoration: none;
    color: white;
}

.configs{
    border: black 3px solid;
    border-radius: 30px;
    width: 98%;
    background-color: #C0C0C0;
    height: 84vh;
}

.overflow-x-hidden{
    overflow-x: hidden;
}

.changer{
    padding-top: 10vh;
    padding-bottom: 15vh;
}

.br-20{
    border-radius: 20px;
}

.from-file{
    background-color: #bd2130 !important;
}

.item-hidden{
    display: none !important;
}

.border-red{
    border-color: #bd2130 !important;
}
